# Dependencies
node_modules/

# Build outputs
dist/
installer-output/

# Neutralino storage & temp
.storage/
neutralino.log

# OS files
.DS_Store
Thumbs.db

# User test scratch files
test*.*

testing/*
